<!DOCTYPE html>
<html>
    <head>
        <title>AllYourCheckIns</title>

        <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

        <script type="text/javascript">
            function goToTimeline() {

                // TODO - Perform proper error handling and have goToTimelineButton disabled by default to avoid this check
                var userid = document.getElementById("id").innerHTML;
                var username = document.getElementById("controlHeading").innerHTML;
                var firstName = document.getElementById("firstName").innerHTML;
                if("select a user" === username) {
                    window.alert("You must select a user"); 
                } else {
                    // TODO - Pass the username 
                    window.location = "/foursquare_app/mapView?userid="+userid+"&firstName="+firstName;
                }
            }

            function selectUser(userElement) {
                // TODO - Perform proper error handling and have this enable goToTimelineButton
                document.getElementById("controlHeading").innerHTML = userElement.innerHTML;

                document.getElementById("dp").src=document.getElementById("dpprefix").innerHTML + '110x110' + document.getElementById("dpsuffix").innerHTML;
                document.getElementById("friendData").innerHTML = document.getElementById("id").innerHTML + "<br>" + document.getElementById("firstName").innerHTML + " " + document.getElementById("lastName").innerHTML + "<br>" + document.getElementById("photo").innerHTML + document.getElementById("homeCity").innerHTML;

            }
	    
        </script>

        <link rel="stylesheet" href="/static/friendIndex.css" type="text/css">

    </head>
    <body>
        <div id="header">
            <div id="upperHeader">
                <div id="logoutWrapper">
                    <a href="{%url "mapView" %}">{{Name}} | </a>
                    <a href="{%url "logout" %}">Logout</a>
                </div>
            </div>

            <div id="mainNav">
                <div id="mainNavInner">
                    <ul>
                        <li class="mainNavItem"><a href="{% url "mapView" %}">Create</a></li>
                        <li class="mainNavItem active"><a href="{% url "friendIndex" %}">Connect</a></li>
                        <li class="mainNavItem"><a href="{% url "imageIndex" %}">Revisit</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="main">
            <div id="leftControlWrapper" class="controlWrapper boxWrap">
                <div id="controlHeading">select a user</div>
                <hr class="controlDivider">
                <div id="friendData"></div>
                <div id="goToTimelineButton" onclick="goToTimeline();">Create a timeline with this user's check-ins</div>
            </div>

            <div id="friendIndexWrapper" class="boxWrap">
                {% for username in usernameList %}
			
                    <div class="friendIndexItem boxWrap" onclick="selectUser(this);">
                        <div id="firstName" class="mapInputWrapper" style = "font-style:italic;font-family:algerian;font-color:blue">{{username.1}}</div>
                        <div id="lastName" class="mapInputWrapper"><font face="algerian"><b><i>{{username.2}}</b></i></div>
                        <div id="id" class="mapInputWrapper">{{username.0}}</div>
                        <div id="dpprefix">{{ username.3.prefix }}</div>
                        <div id="dpsuffix">{{ username.3.suffix }}</div>
                        <div id="homeCity" class="mapInputWrapper"><p><img id="dp" height ="250" width="270"></p></div>
                        <div id="photo" ><b><i>Hometown : {{username.4}}</b></i></div>

                        {{ username.1 }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
