<!DOCTYPE html>
<html>
    <head>
        <title>AllYourCheckIns</title>

        <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/imageIndex.css" type="text/css">

    </head>
    <body>
        <div id="header">
            <div id="upperHeader">
                <div id="logoutWrapper">
		    <a href="{%url "mapView" %}">{{Name}} | </a>
		    <a href="{%url "logout" %}">Logout</a>
                </div>
            </div>

            <div id="mainNav">
                <div id="mainNavInner">
                    <ul>
                        <li class="mainNavItem"><a href="{% url "mapView" %}">Create</a></li>
                        <li class="mainNavItem"><a href="{% url "friendIndex" %}">Connect</a></li>
                        <li class="mainNavItem active"><a href="{% url "imageIndex" %}">Revisit</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="main"></div>

            <div id="imageIndexWrapper" class="boxWrap">
                <div id="controlHeading"><b>Click on the image to download<b></div>
                {% for image in imageList %}
                    <a href="{{image.src}}" download="timeline.png"><div class="imageIndexItem boxWrap" title="{{image.title}}" style="background-image: url({{image.src}});">
                    </div></a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
