<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <title>AllYourCheckIns</title>

        <link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css">
        <link rel="stylesheet" href="http://openlayers.org/dev/examples/style.css" type="text/css">        

        <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">

        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

        <link rel="stylesheet" href="/static/allyourcheckins.css" type="text/css">
        <script src="/static/myol.js"></script>

        <script type="text/javascript">

            function init() {

                /*********************************/
                /*  Check if WebGL is supported  */
                /*********************************/
                if (!window.WebGLRenderingContext) {
                    // Browser has no idea what WebGL is.
                    alert("Bad news!  It looks like your browser doesn't support WebGL.\nGo get the newest version of Chrome and come back.");
                    return;   
                }


                /*****************************************************/
                /*   Creating different maps users can choose from   */
                /*****************************************************/
                var styles = ['Road', 'Aerial', 'AerialWithLabels'];
                var layers = [];
                for (var i = 0; i < styles.length; ++i) {
                    layers.push(new ol.layer.Tile({
                        visible: false,
                        preload: Infinity,
                        source: new ol.source.BingMaps({
                            key: 'Ak-dzM4wZjSqTlzveKz5u0d4IQ4bRzVI309GxmkgSVr1ewS6iPSrOvOKhA-CJlm3',
                            style: styles[i]
                        })
                    }));
                }

                // There are 2 layers for the Watercolor option.  This first one is the actual colors, 
                // while the second one has the labels of cities, streets, and other map features.
                styles.push('Watercolor');
                layers.push(new ol.layer.Tile({
                    visible: false,
                    style: 'Watercolor',
                    source: new ol.source.Stamen({
                        layer: 'watercolor'
                    })
                }));

                styles.push('Watercolor');
                layers.push(new ol.layer.Tile({
                    visible: false,
                    style: 'Terrain',
                    source: new ol.source.Stamen({
                        layer: 'terrain-labels'
                    })
                }));


                /******************************/
                /*   Creating the actual map  */
                /******************************/
                var map = new ol.Map({

                    controls: 
                        ol.control.defaults(),
                        layers: layers,
                        renderer: ol.RendererHint.CANVAS,
                        target: 'map',
                        view: new ol.View2D({
                            // By default we center on Manhattan.  
                            center: ol.proj.transform([-73.976955, 40.768537], 'EPSG:4326', 'EPSG:3857'),
                            zoom:14 
                        })
                });


                /************************************************************/
                /*   Add logic so map will update when the user changes it  */
                /************************************************************/
                $('#layer-select').change(function() {
                    var style = $(this).find(':selected').val();
                    for (var i = 0; i < layers.length; ++i) {
                        layers[i].setVisible(styles[i] == style);
                    }
                });

                $('#layer-select').trigger('change');

                // Holding on to the number of map layers so later I can remove the non-map layers 
                // (ones with points and lines) each time the user refreshes the page.
                var numOfMapLayers = layers.length;


                /***********************************************************************************/
                /*   Adds preview button below map.  This was primarily for testing, but also      */
                /*   allows the user to download a PNG of the current timeline without saving it.  */
                /***********************************************************************************/
                var exportPNGElement = document.getElementById('export-png');

                if ('download' in exportPNGElement) {
                    exportPNGElement.addEventListener('click', function(e) {
                        e.target.href = map.getRenderer().getCanvas().toDataURL('image/png');
                    }, false);
                } else {
                    alert("An error occurred while trying to generate the preview for the map.\nAllYourCheckins may not work properly on your browser.\nConsider switching to the newest version of Chrome for best results.");
                }


                /*************************************************************/
                /*   Adds functionality so hitting the Save Timeline button  */
                /*   will save the current timeline in the app               */
                /*************************************************************/
                function saveTimeline() {
                    var pngImageInBase64 = map.getRenderer().getCanvas().toDataURL('image/png');
   
                    var form = document.getElementById("savingImages");
                    var input = document.createElement("input");
                    input.setAttribute("name","imageString");
                    input.setAttribute("value",pngImageInBase64);
                    form.appendChild(input);
                    
                    alert("The timeline will be saved now!");
                    form.submit();
                }

                $('#saveTimelineButton').click(function(){
                    saveTimeline();
                });


                /************************************************************/
                /*   Creates a point that can be added to the timeline/map  */
                /************************************************************/
                function createPoint(point) {
                    return {    
                        type: 'Feature',
                        geometry: {
                        type: 'Point',
                            coordinates: [point.longitude, point.latitude]
                        }
                    };
                }


                /******************************************************************************************/
                /*  Creates a line and also addes it to the timeline/map.  I would like to have a single  */
                /*  layer that contains all map features (points/lines), but lines only seem to show up   */
                /*  if they are on their on layer.  Conversely, multiple points can be added to the same  */
                /*  layer before being added to the map.                                                  */
                /******************************************************************************************/
                function addLine(point1, point2) {
                    var data = {
                        type: 'FeatureCollection',
                        features: [{
                            type: 'Feature',
                            properties: {
                                'color': '#F3F315',
                                'where': 'inner'
                            },
                            geometry: {
                                type: 'LineString',
                                coordinates: [[point1.longitude, point1.latitude], [point2.longitude, point2.latitude]]
                            }
                        }]
                    };

                    var vector = new ol.layer.Vector({
                        source: new ol.source.Vector({
                            parser: new ol.parser.GeoJSON(),
                            data: data
                        })
                    });

                    map.addLayer(vector);
                }


                /***************************************************/
                /*  Called when the Fetch Data button is clicked.  */
                /***************************************************/
                function fetchData() {

                    // Remove previous check-in layers if they exist
                    var layerContainer = map.getLayers();
                    while(layerContainer.getLength() > numOfMapLayers){
                        layerContainer.pop();
                    }
 
                    // This extracts checkin data from the backend and adds it to the checkins array
                    var checkins = [];
                    {% for name,location in mapCheckins.iteritems %}
                       checkins.push({ "name": "{{name}}", "latitude": {{location.0}}, "longitude": {{location.1}}, "createdAt": {{location.2}}, "timezoneOffset": {{location.3}} });
                    {% endfor %}

                    
                    // Users can decide whether to sort based on absolute time or by time of day
                    if(confirm("Would you like to sort the check-ins by time of day only?")) {
                        checkins.sort(function(a,b){

                            var aDate = new Date(a.createdAt + a.timezoneOffset);
                            var bDate = new Date(b.createdAt + b.timezoneOffset);
                            console.log("returning " + aDate.getHours() + " - " + bDate.getHours());
                            if(aDate.getHours() !== bDate.getHours()){
                                console.log("returning " + aDate.getHours() + " - " + bDate.getHours());
                                return aDate.getHours() - bDate.getHours();
                            }

                            console.log("returning " + aDate.getMinutes() + " - " + bDate.getMinutes());
                            if(aDate.getMinutes() !== bDate.getMinutes()){
                                return aDate.getMinutes() - bDate.getMinutes();
                            }

                            console.log("returning " + aDate.getSeconds() + " - " + bDate.getSeconds());
                            return aDate.getSeconds() - bDate.getSeconds();
                        });
 

                    } else {
                        checkins.sort(function(a,b){
                            var aTime = a.createdAt + a.timezoneOffset;
                            var bTime = b.createdAt + b.timezoneOffset;
                            var retval = aTime - bTime;
                            return retval;
                        });
                    }
                    console.log(checkins);


                    var features = [];
                    var lastPoint;
                    var currentPoint;

                    // This loop adds each line as its own layer to the map and collects all the points 
                    // in the features array to be added later as a single layer.
                    for(var i = 0; i < checkins.length; i++) {
                        currentPoint = { "latitude": checkins[i].latitude, "longitude": checkins[i].longitude };
                        features.push(createPoint(currentPoint));
                        if(typeof lastPoint !== 'undefined'){
                            addLine(lastPoint, currentPoint);
                        };
                        lastPoint = currentPoint;
                    }

                    // Must check that some results were actually returned before trying to process them
                    if(0 === features.length) {
                        alert("No check-ins were returned for the given user");
                    } else {

                        // Create and style a layer with the points before adding it to the map
                        var data = {
                            type: 'FeatureCollection',
                            features: features
                        };

                        var style = new ol.style.Style({
                            symbolizers: [
                                new ol.style.Shape({
                                    size: 20,
                                    fill: new ol.style.Fill({
                                        color: '#F3F315',
                                        opacity: 0.6
                                    }),
                                    stroke: new ol.style.Stroke({
                                        color: '#F3F315',
                                        opacity: 0.2                            
                                    })
                                })
                            ]
                        });

                        var vector = new ol.layer.Vector({
                            style: style, 
                            source: new ol.source.Vector({
                                parser: new ol.parser.GeoJSON(),
                                data: data
                            })
                        });

                        // When the vector is added to the map, mark how large the map would have to be to include all the features in the vector.
                        var extents = [];
                        vector.on('featureadd', function(e) {
                            // This fixes a bug in the open layers implementation where there should be a property 
                            // called "extents", but it is called "a".  This is to make sure that this logic works
                            // now and when the bug is corrected.
                            extents.push(e.extents ? e.extents[0] : e.a[0]);
                        });

                        map.addLayer(vector);

                        // This zooms the map so it's slightly larger than the features (points and lines) added to it.
                        // This functionality is provided by the openlayers api, but it is broken making this necessary.
                        function zoomToFitExtent() {
                            if(0 == extents.length) {
                                setTimeout(zoomToFitExtent, 50);//wait 50 milliseconds then recheck
                                return;
                            }
                            map.getView().fitExtent(extents[0], map.getSize());
                        }

                        zoomToFitExtent();
                    }
                }

                {%if mapCheckins %}
                    fetchData();	
                {% endif %}
            }
        </script>
    </head>

    <body onload="init()">

        <div id="header">
            <div id="upperHeader">
                <div id="logoutWrapper">
                    <a href="{% url "mapView" %}">{{CurrentUser}} | </a>
                    <a href="{%url "logout" %}">Logout</a>
                </div>
            </div>

            <div id="mainNav">
                <div id="mainNavInner">
                    <ul>	
                        <li class="mainNavItem active"><a href="{% url "mapView" %}">Create</a></li>
                        <li class="mainNavItem"><a href="{% url "friendIndex" %}">Connect</a></li>
                        <li class="mainNavItem"><a href="{% url "imageIndex" %}">Revisit</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="main">
            <div class="controlWrapper">
                <form action="search/" method="get" id="something" style="height: 100%">
                    <div class="controlHeading">Data</div>
                    <hr class="controlDivider">

                    <div class="mapInputWrapper">
                        Username:
                        <input readonly id="user" name="username" value="{{Name}}" class="mapInput" type="text">
                    </div>

                    {% if Id %}
                    <input id="userid" name="userid" value="{{Id}}" type="hidden"> 
                    {% endif %}

                    <div class="mapInputWrapper">
                        Start Date:
                        <input id="startDate" name="startDate"class="mapInput" type="date" placeholder = "Enter in yyyy-mm-dd format">
                    </div>

                    <div class="mapInputWrapper">
                        End Date:
                        <input id="endDate" name="endDate" class="mapInput" type="date" placeholder = "Enter in yyyy-mm-dd format">
                    </div>

                    <!--
                    <div class="mapInputWrapper">
                        Sort Check-Ins by Time Only:
                        <input id="sortByTimeOnlyBox" type="checkbox">
                    </div>
                    -->

                    <input type="submit" class="actionButton" value="Fetch Data">
                </form>
            </div>
                
            <div id="mapColumn" class="boxWrap">
                <div id="map"></div>
                <a id="export-png" class="btn" download="map.png"><i class="icon-download"></i>Preview Timeline</a>   
            </div>

            <div class="controlWrapper">

                <div class="controlHeading">View</div>
                <hr class="controlDivider">

                <div class="mapInputWrapper">
                    Map Layer:
                    <select id="layer-select" class="mapInput">
                        <option value="Aerial">Aerial</option>
                        <option value="AerialWithLabels">Aerial with labels</option>
                        <option value="Road">Road</option>
                        <option value="Watercolor" selected>Watercolor</option>
                    </select>
                </div>

                <form action = "/foursquare_app/mapView" method="post" id="savingImages">{% csrf_token %}
                    <div>
                        <input id="saveTimelineButton" name="Save Timeline" type="submit" onclick = "saveTimeline();" value="Save Timeline" class="actionButton" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
